.home-container {
  background-color: #d1d1d1;
}

.top-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 100px;
}

.img-style {
  height: 400px;
}
.course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 0;
}
.course-btn {
  color: white;
  text-decoration: none;
}
.course-btn:hover {
  color: white;
}
